stages:
  - tests
  - deployment

image: python:3.5-slim-jessie

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/reference/pip_install/#caching
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  paths:
    - .cache/pip
    - venv/

tests:
    stage: tests
    script:
      - apt-get update
      - apt-get install xz-utils
      - python -V               # Print out python version for debugging
      - pip install virtualenv
      - virtualenv venv
      - source venv/bin/activate
      - pip install pytest
      - pip install .
      - pytest tests/*.py -v
      - tests/structure_field_test.sh
      - tests/fastStructure_field_test.sh
      - tests/maverick_field_test.sh

deployment:
    stage: deployment
    script:
        - python -V
        - pip install virtualenv
        - virtualenv venv
        - source venv/bin/activate
        - pip install twine
        - python setup.py sdist
        - twine upload dist/* -u Stunts -p $pypi_password --repository-url https://test.pypi.org/legacy/
# Make sure this only happens in `master`
